gris = #717070
gris2 = #333333
gris3 = #A9A9A9
dorado = #e1c26e
.gris
	color gris
.gris2
	color gris2
.dorado
	color dorado
.white
	color white
.black
	color black
.bold
	font-weight bold
.mayus
	text-transform uppercase
.alegreya
	font-family 'Alegreya', serif
.m-top-40
	margin-top 40px
.mb-10
	margin-bottom 10px
	
.card-header
	.btn.btn-link
		white-space normal
		text-align left
h2.section-title
	font-weight bold
	background transparent url(./assets/images/pleca.png) no-repeat center bottom
section.storefront-product-categories
section.storefront-recent-products
section.storefront-popular-products
	display none
section.storefront-best-selling-products
	margin-top 50px
body
	font-family 'Lora', serif
	background gris3
.site-header
	padding-top 1em
	padding-bottom 1em
	position fixed
	width 100%
	background rgba(black, .8)
	transition background .5s ease
	&.darker
		background rgba(black, .9)
		transition background .5s ease
.home.page:not(.page-template-template-homepage)
	.site-header
		margin-bottom 0
.site-branding
	width 100px !important
	position relative
button.menu-toggle
	border none
	width 40px
	padding 30px 0
	position relative
	background none
	&:hover
		background none
		outline none
	&::before
	&::after
		width 100%
		left 0
		background white
	span::before
		width 100%
		left 0
		background white
.site-header
	ul.menu
		li > a
			color dorado
			text-align center
			text-transform uppercase
		li.current-menu-item > a
			color dorado
.page-template-template-homepage:not(.has-post-thumbnail)
	.site-main
		padding-top 2em
.page-template-template-homepage-php
	.site-content
		margin-top -90px
.main-banner-container
	background transparent
	height 331px
	display block
	width 100%
	position relative
	z-index 1
.design-button-container
	position absolute
	top 200px
	z-index 2
	text-align center
	margin-left -50%
	width 100%
.design-button
	border 1px solid dorado
	padding 4px 10px
	position relative
	color dorado
	left 50%
	font-size .65em
	width 150px
	text-align center
	transition color .5s ease
	&:hover
		color rgba(dorado, .6)
		transition color .5s ease
		text-decoration none
.top-contact
	position absolute
	top 70px
	left 10%
	display none
#myVideo
	position absolute
	right 0
	bottom 0
	min-width 100%
	min-height 100%
.inner-banner-container
	height 200px
	display flex
	justify-content center
	align-items center
	flex-flow column
	width 100%
	background-size cover !important
	background-color transparent !important
	background-repeat no-repeat !important
	background-position center center !important
	background-size cover !important
	padding-top 100px
	h1
		font-size 1.3em
	p
		color white
		width 300px
		font-size .8em
		width 300px
.single-post
	.inner-banner-container
		display none !important
	.entry-header
		margin-top 120px
.post-type-archive-product
	.inner-banner-container
		display none !important
	.woocommerce-products-header
		margin-top 130px
.storefront-breadcrumb
	display none
#secondary
	display none
	
.main-cats-container
	.main-cat
		text-align center
		margin-bottom 20px
		background gray
		padding 100px 10px 20px 10px
		color white
		a
			border 1px solid dorado
			padding 4px 10px
			color dorado
		&.novios
			background transparent url(./assets/images/novios.jpg) no-repeat center center
			background-size cover
		&.formales
			background transparent url(./assets/images/formales.jpg) no-repeat center center
			background-size cover
		&.casual
			background transparent url(./assets/images/casual.jpg) no-repeat center center
			background-size cover
h2.woocommerce-loop-product__title
	color black
	font-weight bold
.price
	.woocommerce-Price-amount.amount
		font-style italic
		color black
a.button.product_type_simple.add_to_cart_button
.btn.btn-primary.btn-submit
	border 1px solid dorado
	background gris
	color dorado
	text-transform uppercase
.media-item
	margin-bottom 50px
	text-align center
	.resume
		font-style italic
	.media-logo
		display flex
		justify-content center
		align-items center
		margin-bottom 15px
		img
			height 35px
			width auto
			display block
.nosotros-images-container
	height 300px
	margin-top 30px
	.item
		height 300px
		display inline-block
		img
			width 100%
			height auto
	.slick-dots
		text-align center
		padding 0
		margin -50px 0 0
		li
			display inline-block
			width 14px
			height 14px
			border-radius 50%
			overflow hidden
			color transparent
			margin 0 5px
			button
				background white
			&.slick-active
				border 2px solid white
				width 16px
				height 16px
				margin-top 1px
				button
					background none
h2.inner-title
	font-size 1.2em
	margin 30px 0
.form-group
	.form-control
		background white
textarea.form-control
	height 140px
.map
	background purple
	height 200px
	margin-top 30px
	width 100%
	background transparent url(./assets/images/mapa-michaud.jpg) no-repeat center center
	background-size cover
.schedule
	.line
		display flex
		justify-content space-between
		align-items center
		border-bottom 1px solid black
		padding 5px 0
.media-item-review
	margin-top 20px
	.inner
		background white
		.photo
			background-color #d1d1d1
			height 200px
			width 100%
			margin-bottom 20px
			background-repeat no-repeat
			background-position center center
			background-size cover
		.logo
			text-align center
			img
				margin 0 auto
	.button.product_type_simple.add_to_cart_button
		font-size .8em
		margin-bottom 20px
h2.title.faq
	margin 30px 0
	font-weight bold
.card
	background none
	border none
	.card-header
		padding 12px 6px
		background none
		button
			color black
			text-transform uppercase
			font-size 0.75em
			word-wrap break-word
	.btn:not(:disabled):not(.disabled)
		font-weight bold
.single-product
	.inner-banner-container
		height 125px
		display none !important
	.product
		margin-top 130px
.page-id-77
	.inner-banner-container
		display none
	.entry-header
		margin-top 130px
button.single_add_to_cart_button
	border-color red !important
	color dorado
form.cart
	a.tg-btn
		margin 20px 0
		border 2px solid dorado !important
		color dorado !important
		&:before
			background-color black !important
.woocommerce
	button.button.alt
		border 2px solid dorado !important
		color dorado !important
		background-color gris !important
		text-transform uppercase
.woocommerce
	button.button.alt
		padding 10px
.site-footer
	background gris2 url(./assets/images/logo_michaud_gris.svg) no-repeat center 30px
	background-size 150px
	padding-top 150px
	padding-bottom 20px
	.footer-column
		text-align center
		&:nth-child(2)
			padding-top 40px
			padding-bottom 40px
		h3
			color white
			font-size 1.1em
		a
			color white
	.menu-footer-menu-container
		ul
			padding 0
			margin 0
			li
				display block
				margin-bottom 5px
				a
					color white
					text-transform uppercase
					font-size .85em
	ul.social
		padding 0
		margin 0
		li
			display inline-block
			margin 0 5px
			a
				color white
				font-size 2em
				transition color .5s ease
				&:hover
					color gris
					transition color .5s ease
					text-decoration none
	.credits
		color white
		font-size .9em
		margin-top 30px
		a
			color white

.tg-btn
	border-radius 0px
	font-weight bold
	font-size inherit

fieldset
	background-color transparent
	background none !important

h1.entry-title
	text-align center

.info
	background none

.inner-banner-container h1
	display block !important

.inner-banner-container p
	display block !important

.post-type-archive-product
	.inner-banner-container
		height 125px !important
		h1
		p
			display none !important

.storefront-product-pagination
	display none !important
.summary.entry-summary
	h1.product_title.entry-title
		text-align left
.single-product
	div.product
		p.price
			margin 10px 0
form.cart
	a.tg-btn
		background gris !important
#confirmBox
	border-radius 0px
	.button
		border-radius 0px
.cart-item-name
	a
		color black
.button
	background gris
	color dorado
	border 2px solid dorado
	text-transform uppercase
	font-weight normal
.checkout-button.button.alt.wc-forward
	background gris
	color dorado
	text-transform uppercase
	font-weight normal
	border 2px solid dorado
.col2-set
	.col-1
		width 100% !important
		padding 0
		margin 0
		max-width 100% !important
.form-row
	margin 0
.col-2
	max-width 100%
.tab-status
	a
		background none
		text-transform uppercase
		font-family 'Alegreya', serif
		span
			font-style normal
			color dorado
			font-size 1.2em
			background none
.tg-customizeordernav
	li
		a
			background dorado
			span
				color black
			&:before
				border-color dorado
			&:after
				border-color dorado
		&.cus-active
			a
				span
					color dorado
.tg-btnround
	background none
	border none
	&:hover
		background none
		text-decoration none
		color black
.fa-angle-left:before
.fa-angle-right:before
	font-size 3em

span.woocommerce-input-wrapper
	width 100%

table.cart
	td.actions
		.coupon
			margin-top 30px
		.button
			margin-top 30px
.blog-item-mini
	border-bottom 1px solid gris
	margin-bottom 30px
	margin-top 30px
.page-id-6
.page-id-7
	.inner-banner-container
		display none
.tg-stickyheader
	&.is_stuck
		top 95px !important
		background rgba(black, .9) !important
.tg-tela
.tg-forro
.tg-teladelpantaln
	figure
		img
			max-width 105%
.tg-stickybox.is_stuck
	top 250px !important
	transition top .5s ease
@media screen and (min-width: 375px)
	.nosotros-images-container
		height 335px
		.item
			height 335px
			img
				width 90%
				margin 0 auto
		.slick-dots
			text-align center
			padding 0
			margin -30px 0 0
@media screen and (min-width: 425px)
	.main-banner-container
		height 379px
@media screen and (min-width: 480px)
	.main-banner-container
		height 400px
	.design-button-container
		top 275px
@media screen and (min-width: 569px)
	.main-banner-container
		height 255px
	.page-template-template-homepage-php
		.site-content
			margin-top 0
	.design-button-container
		top 220px
@media screen and (min-width: 768px)
	.site-header
		border none
		.site-branding
			img
				max-width 100px
	.woocommerce-active
		.site-header
			.main-navigation
				width 70%
	.woocommerce-active
		.site-header
			.site-branding
				margin 0
	.storefront-primary-navigation
		width 85%
		clear none
		float right
		.col-full
			margin-right 0
	.main-navigation ul.menu
	.main-navigation ul.nav-menu
		margin 0
		text-align right
	.main-navigation ul.menu>li>a
	.main-navigation ul.nav-menu>li>a
		padding 26px 5px
		font-size .75em
	.site-header-cart.menu
		.woocommerce-Price-amount.amount
			display none
		.count
			color dorado
			margin-right 5px
			opacity 1
		.cart-contents
			text-align right
	.main-banner-container
		height 340px
	.design-button-container
		top 325px
	.design-button
		padding 4px 10px
		bottom 30px
		font-size .9em
		width 200px
		top unset
	.top-contact
		position absolute
		top 120px
		left 6%
		display block
		text-align left
		font-size .9em
		p
			color white
			a
				color white
	.main-cats-container
		.one
			width 50%
			display inline-block
			float left
			.main-cat
				margin-bottom 0
				padding 0px
				position relative
				.info
					position absolute
					bottom 20px
					padding 0 60px
				&.novios
					height 368px
		.two
			width 50%
			display inline-block
			float left
			.main-cat
				margin-bottom 0
				padding 0px
				position relative
				.info
					position absolute
					bottom 20px
					padding 0 60px
				&.formales
				&.casual
					height 184px
	section.storefront-best-selling-products
		margin-top 400px
	.media-container
		display flex
		justify-content space-between
		align-items center
		.media-item
			width 30%
			display inline-block
		a.button.product_type_simple.add_to_cart_button
			width 80%
			font-size .8em
	.inner-banner-container
		height 300px
	.inner-banner-container
		height 420px !important
	.nosotros-images-container
		.slick-dots
			margin -30px 0 0
	.right-sidebar
		.content-area
			width 100%
			margin-right 0
	.nosotros-text
		padding-top 30px
	.map
		height 300px
	
	h2.title.faq
		margin 30px 0
		font-size 1.4em
	.card
		background none
		border none
		.card-header
			padding 12px 6px
			background none
			button
				color black
				text-transform uppercase
				font-size 0.75em
	.single-product
		.inner-banner-container
			height 150px
	.site-footer
		padding-top 75px
		.footer-column
			&:nth-child(2)
				padding-top 70px
				padding-bottom 40px
			h3
				font-size .9em
		.menu-footer-menu-container
			ul
				padding 0
				margin 0
				li
					display block
					margin-bottom 5px
					a
						color white
						text-transform uppercase
						font-size .85em
		ul.social
			padding 10px 0 0
			margin 0
			li
				display inline-block
				margin 0 5px
				a
					color white
					font-size 2em
		.credits
			color white
			font-size .9em
			margin-top 30px
			a
				color white
				font-weight bold
	form.cart
		a.tg-btn
			margin 0px 0 20px 0
	form.cart
		a.tg-btn:before
			background-color black !important
	a.storefront-sticky-add-to-cart__content-button.button.alt
		background-color gris
		color dorado
		text-transform uppercase
		border 2px solid dorado
	.storefront-sticky-add-to-cart
		background-color rgba(black, .95)
		color white
	.customizer-storefront
		.inner-banner-container
			height 125px
	.cart-collaterals
		width 100% !important
	.col2-set
		width 100%
		float left
		margin-right 0
		margin-left 0
		margin-bottom 10px
	.form-row
		display flex
		justify-content flex-start
		align-items center
		margin-bottom 20px
	.woocommerce-shipping-fields
		margin-top 30px
		margin-bottom 30px
	.col2-set.addresses
		.col-2
			width 100%
	table.cart
		td.actions
			.coupon
				margin-top 0px
			.button
				margin-top 30px
	.media-item-review
		.resume
			height 90px
			overflow hidden
			margin-bottom 20px
	.blog-item-mini
		padding-bottom 20px
		margin-bottom 40px
		margin-top 40px
	.tg-stickyheader.is_stuck
		padding 13px 0 0 0 !important
		.tg-btnround
			top 15px !important
	.steps-content-wrap
		padding-top 0
@media screen and (min-width: 992px)
	.main-banner-container
		height 455px
	.top-contact
		position absolute
		top 200px
	.design-button-container
		top 435px
	.main-cats-container
		.one
			.main-cat
				&.novios
					height 500px
		.two
			.main-cat
				&.formales
				&.casual
					height 250px
	.tg-stickybox
		&.cus-col-3
			width 310px
		&.is_stuck
			top 180px
			transition all 1.5s ease
	.tg-stickyheader
		&.is_stuck
			top 108px !important
	section.storefront-best-selling-products
		margin-top 550px
	.nosotros-text
		margin-top 25px
		.hentry
			background white
			padding 20px
	.nosotros-images-container
		.item
			img
				width 100%
		.slick-dots
			margin 20px 0 0
	.woocommerce button.button.alt
		margin 10px 30px 10px -2px
	.main-cats-container
		.two
			.main-cat
				.info
					right 15px
	.page-id-698
		.inner-banner-container
			height 220px !important
			
@media screen and (min-width: 1200px)
	.main-banner-container
		height 530px
	.design-button-container
		top 510px
	.design-button
		font-size 1.1em
		width 250px
	.nosotros-text
		margin-top 55px
	.site-main
		margin-bottom 0
	.woocommerce button.button.alt
		margin 10px 100px 10px -2px
	.fa-angle-left:before
	.fa-angle-right:before
		font-size 4em
	.media-item-review
		.resume
			height 180px
	.main-cats-container
		.two
			.main-cat
				.info
					right 25px